* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
:root {
    --primary: #dddddd;
    --secondary: #ffffff;
    --textcolor: #b196c9;
}
body {
    position: relative;
    width: 100%;
    background-color: var(--primary);
}
main {
    position: absolute;
    width: 80vw;
    height: 95vh;
    top: 2.5vh;
    left: 10vw;
    background-color: var(--secondary);
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--textcolor);
    margin: 20px;
    font-weight: bold;
}
#shopname {
    color: black;
}
#soundicon {
    width: 20px;
}
.left {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
button {
    background-color: black;
    color: var(--secondary);
    display: flex;
    justify-content: baseline;
    padding: 1px;
}
#section-1 {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 8rem;
    gap: 10px;
}
article img {
    width: 20vw;
    height: 30vh;
    aspect-ratio: 1/2;
}
article img:first-child {
    object-fit: cover;
    object-position: center;
}
article img:last-child {
    object-fit: cover;
    object-position: center;
}
article img#second-pic {
    object-fit: cover;
    object-position: left;
}
footer p {
    color: gray;

    position: absolute;
    bottom: 0;

    right: 50px;
    height: 30px;
    width: 100vw;
}
@media (min-width: 400px) and (max-width: 900px) {
    #section-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 900px) and (max-width: 2100px) {
    #section-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }
}
